@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html{
  font-size: calc(0.5em + 1vw);
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'open Sans', sans-serif;
      background-color: #FFFAFB;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  

  .search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }
   

  .pagination{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

 

  .carousel-arrows{
    font-size: 2rem;
    color: red;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    &:hover{
      color: #000;
      cursor: pointer;
    }
  }


  .exercise-detail-buttons{
    border-radius: 50px;
    background-color: #ffd770;
    padding: 10px;
    transition: background-color 1s ease-out;
    
    &:hover{
      background-color: rgb(84, 84, 75);
      
    }
  }

.footer{
  height: 5rem;
  background-color: #8f8f8f;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.notfound{
  border-top: 7px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
  }
  p{
    color: #8f8f8f;
    font-size: 1rem;
  }
}

.navbar{
  display: flex;
 justify-content: space-around;
 flex-direction: row;
 border-bottom: 7px solid #ff0000;
 width: 100%;
 align-items: center;
}

.hamburger{
  display: none;
}

.routes{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  width: 2.2rem;
  height: 2.2rem;
}

.mobile-search{
  display: none;
}

.hero-banner{
  display: flex;
  position: relative;
  .herobanner-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .heroBanner-img-container{
    display: flex;
    justify-content: center;

      img{
        z-index: 1;
        width: 100%;
      }
      p{
        color: #ff2625;
        opacity: 0.1;
        position: absolute;
        bottom: 0;
        z-index: 0;
      }
  }
}

.searchfield-container{
  display: flex;
  margin-top: 3rem;
  width: 80%;
    input[type='text']{
      width: 90%;
      font-size: 1.1rem;
      padding-left: 0.3rem;

    }
}

.slider-container{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin-top: 1rem;

}

.slider-container::-webkit-scrollbar{
  display: block;
}

.bodyPart-card {
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 13rem; 
  height: 7rem;
  cursor: pointer;


    img{
      width: 2rem;
      height: 2rem;
    }
    p{
      font-weight: 500;
      font-size: 1rem;
      text-transform: capitalize;
    }
    &:hover:active{
      border-bottom: 2px solid red;
    }

}

.exercise-card:hover
{
  transform: scale(1.1, 1.1);
}

.exercises-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 5rem;
  width: 100%;
}

.exercise-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid red;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: black;
  width: 13rem;
  cursor: pointer;

  &:hover{
    transform: scale(1.1,1.1);
 }
    img{
      max-width: 100%;
    }
  
    }
    button{
      color: #382523;
      font-size: 0.8rem;
      border: none;
      text-transform: capitalize;
      padding: 0.3rem;
      font-weight: 500;
    }


.search-btn{
  height: 55px;
  padding: 0.2rem;
  background-color: #ff0000;
  color: white;
}

.details-container{
  display: flex;
    .details-img{
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .details-info{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1.7rem;
      h1{
        font-size: 1.7rem;
        text-transform: capitalize;
      }
      p{
        color: #847f80;
        font-size: 1rem;
        text-align: justify;
      }
      span{
        text-transform: capitalize;
      }
      .details-btns-container{
        display: flex;
        flex-direction: column;
        .details-btns{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 1rem;
          img{
            width: 4rem;
            max-width: 60px;
          }
          h2{
            text-transform: capitalize;
            font-size: 1.2rem;
            font-weight: 400;
            margin-left: 0.5rem;
          }
        }
      }
    }
    
}

.youtube-videos-container{
  margin-top: 1rem;  
  h1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-decoration: underline 0.3rem red;
    padding: 0.5rem;
  }
  .youtube-videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding: 1rem
  }
  .youtube-video-card{
    display: flex;
    align-items: center;
      img{
        border-radius: 1rem;
        width: 50%;
        height: 100%;
       
      }
    .youtube-link{
      display: flex;
      flex-direction: column;
      cursor: pointer;
        p{
          color: #9d9393;
          padding: 0.1rem 0.2rem;
        }
    }
    .youtube-channel-name{
      position: relative;
      // line-height: 1.8;
      padding:2px 6px;
      display: block;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 600;
      text-decoration: underline;
  
    &:after {
      position: absolute;
      top:0; bottom: 0;
      right: 0;left: 0;
      display: block;
      background-color: #CF2034;
      content: "";
      transform: translate3d(0,100%,0);
      z-index:-1;
    }
    &:hover:after {
      transform: translate3d(0,0,0);
      transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
    }
    &:hover{
      color: #fff;
    }
  }
  }
}

.arrows-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 40%;
}

.exercisesLoad{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.705);
}

.mobile-overlay{
  display: none;
  animation:  0.2s openModal ease-in;
}

@keyframes openModal {
  0%{
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50%{
    opacity: 1;
  }
}

@media screen and (max-width: 600px){
  .navbar{
    border-bottom: 2px solid black;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: white;
    .routes{
      display: none;
    }
    .hamburger{
      display: block;
      width: 3rem;
      height: 3rem;
    }
  }

  .mobile-search{
    display: flex;
    align-items: center;
    justify-content: center;
    input[type='text']{
    width: 80%;
    height: 3rem;
    margin-top: 0.4rem;
    border-radius: 0.1rem;
    padding: 0.3rem;
    background-color: #d9d9d9;
    font-style: italic;
    color: #000;
    
   
    }
  }

  .hero-banner{
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
      .herobanner-intro{
        order: 3;
        height: 15rem;
      }
      .heroBanner-img-container{
        order: 2;
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        position: relative;
        width: 70%;
        p{
          font-size: 17vw;
        }
      }
  }

  .searchfield-container{
    margin-top: 1rem;
    input[type='text']{
      height: 3rem;
    }

  }

  .slider-container{
    width: 26rem;
  }

  .exercises-grid{
    grid-template-columns:1fr 1fr;

  }

  .details-container{
    flex-direction: column;
    align-items: center;
    .details-img{
      width: 100%;
    }
    .details-info{
      align-items: center;
      .details-btns-container{
        // flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
      }
      .mobileWrapper{
        display: flex;
        justify-content: center;
      }
    }
    
  }

  .youtube-videos-grid{
    grid-template-columns: 1fr !important;
  } 
  
  .mobile-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    display: none;
    flex-direction: column;
    font-size: 3rem;
      span{
        color: red;
        margin-left: 2rem;
        font-size: 7rem;
      }
      .overlay-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 5rem;
        margin-top: 3rem;
        text-transform: uppercase;
          a{
            color: white;
            text-decoration: none;
            margin-bottom: 1.5rem;
            &:hover{
              text-decoration: underline;
            }
          }
      }
  }
}

@media screen and (min-width: 600px) and (max-width: 768px){
  .navbar{
    justify-content: space-between;
    .routes{
      margin-right: 10%;
    }
  }

  .hero-banner{
    flex-direction: row;
    justify-content: space-around  ;
    align-items: center;
    margin-top: 1rem;
      .herobanner-intro{
        order:1;
        height: 17rem;
      }
      .heroBanner-img-container{
        order: 2;
        width: 50%;
        p{
          font-size: 17vw;
          left: 0;
        }
      }
      
  }

  .slider-container{
    width: 39rem;
  }
}



@media screen and (min-width: 769px){
  .hero-banner{
    justify-content: space-around;
    align-items: center;
      .herobanner-intro{
        height: 16rem;
      }
      .heroBanner-img-container{
        width: 50%;
        p{
          font-size: 17.5vw;
          left: 0;
          
        }
      }
  }
  

  .exercises-grid{
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
  }

  .details-img{
    width: 50%;
    img{
      width: 80%;
    }
  }
  .details-info{
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px){
  .slider-container{
    width: 39rem;
  }
}
@media screen and (min-width: 950px){
  .slider-container{
    width: 52rem;
  }
}
